#gs-stream {
    border: 3px solid rgba(255, 255, 255, 0.72);
    outline: 0;
    background: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.72);
    cursor: pointer;
    position: relative;
    bottom: 6px;
    padding: 2px 10px;
    border-radius: 3px;
      transition: .2s ease-in-out;
      margin-left: 10px;
}
#gs-stream:hover {
  background: #fff;
  color: #666;
  transition: .2s ease-in-out;
}
  .gs-loading{
  background-image : url('<?php echo get_template_directory_uri(); ?>/images/loading.svg');  
  background-repeat:no-repeat;
}
.gs-loading:after {
    content: "Loading...";
    text-align : right;
    padding-left : 25px;
}
